<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h2>Send e-mail</h2>

<form action="" method="post">
<tr>
    <h3>To:</h3>
    <td>
        <th:block th:each="user : ${users}">
            <input type="checkbox" name="to" id="to" th:value="${user.email}"/>
            <label th:text="${user.email}"></label>
        </th:block>
    </td>

    <h3>Copy:</h3>
    <td>
        <th:block th:each="user : ${users}">
            <input type="checkbox" name="cc" id="cc" th:value="${user.email}"/>
            <label th:text="${user.email}"></label>
        </th:block>
    </td>

    <h3>Subject:</h3>
    <td>
        <input type="text" name="subject" id="subject"/>
    </td>

    <h3>Body:</h3>
    <td>
        <textarea name="body" id="body" cols="40" rows="5"></textarea>
    </td>
    <td>
        <br>
        <input type="submit" value="Send" name="submit">
    </td>
</tr>

</form>

</body>
</html>